{% extends "layout.html" %}

{% block title %}
    Books: Project 1
{% endblock %}

{% block body %}

<div id="Books-list" class="container">
    {% include "includes/_message.html" %}
    <table>
            {% if booksearchdata is none %}
                {% for book in books[:10] %}
                    <tr>
                        <td>
                            <a href="{{ url_for('book', book_id=book.book_id) }}">Title of the Book: {{ book.title }}</a>
                            <br>
                            <span>by: {{ book.author }}</span>
                            <br>
                            <span>Published year: {{ book.year }}</span>
                            <br>
                            <span>Book ID: {{ book.book_id }}</span>
                            
                            <span>numbers of reviews: {{ book_api_total }}</span>
                            <br>
                            <span>Average rating: {{ book_api_avg }}</span>
                            
                            <hr>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for book in booksearchdata[:10] %}
                    <tr>
                        <td>
                            <a href="{{ url_for('book', book_id=book.book_id) }}">Title of the Book: {{ book.title }}</a>
                            <br>
                            <span>by: {{ book.author }}</span>
                            <br>
                            <span>Published year: {{ book.year }}</span>
                            <br>
                            <span>Book ID: {{ book.book_id }}</span>
                            <br>
                            <span>numbers of reviews: {{ book_api_total }}</span>
                            <br>
                            <span>Average rating: {{ book_api_avg }}</span>
                            
                        </td>
                    </tr>
                {% endfor %}
                
            {% endif %}
    </table>
</div>
{% endblock %}